@use "defaults";

#aboutContainer {
    @include defaults.threeSections();

    .skills {
        li {
            display: inline-block;

            &:not(:last-child)::after {
                content: "•";
                padding: 0 5px;
            }
        }
    }
}