@use "theme";

@mixin threeSections() {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0px 40px;

    section {
        &:last-of-type {
            grid-column: 1/3;

            h2 {
                text-align: center;
                
                &::before {
                    background: linear-gradient(to right, transparent, theme.$accent-secondary 33%, theme.$accent-secondary 66%, transparent);
                }
            }

            ul:not(.skills) {
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 0 40px;
            }
        }
    }

    @media only screen and (max-width: 700px) {
        grid-template-columns: minmax(0, 1fr);

        section {
            &:last-of-type {
                grid-column: 1;
    
                ul:not(.skills) {
                    grid-template-columns: minmax(0, 1fr);
                }
            }
        }
    }
}

$topPadding: 5px;
$bottomPadding: 50px;
$sidePadding: 35px;
@mixin articlePadding() {
    padding: $topPadding $sidePadding $bottomPadding $sidePadding;
}

article section {
    padding: 10px 0;
}

h2 {
    font-size: 1.8rem;
    padding: 15px 0;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 100%;
        height: 5px;
        background: linear-gradient(to right, theme.$accent-secondary 50%, transparent);
        z-index: -1;
    }

    @media only screen and (max-width: 700px) {
          text-align: center;

          &::before {
            background: linear-gradient(to right, transparent, theme.$accent-secondary 33%, theme.$accent-secondary 66%, transparent);
        }
      }
}

h3 {
    padding: 8px 0;
    font-size: 1.05rem;
}

p {
    padding: 8px 0;
}