@mixin threeSections() {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px 40px;

    section {
        &:last-of-type {
            grid-column: 1/3;
        }
    }
}

$verticalPadding: 25px;
$sidePadding: 35px;
@mixin articlePadding() {
    padding: $verticalPadding $sidePadding;
}