@mixin threeSections() {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0px 40px;

    section {
        &:last-of-type {
            grid-column: 1/3;

            h2 {
                text-align: center;
            }

            ul:not(.skills) {
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 0 40px;
            }
        }
    }
}

$topPadding: 5px;
$bottomPadding: 50px;
$sidePadding: 35px;
@mixin articlePadding() {
    padding: $topPadding $sidePadding $bottomPadding $sidePadding;
}

article section {
    padding: 10px 0;
}

h2 {
    font-size: 1.8rem;
    padding: 15px 0;
}

h3 {
    padding: 8px 0;
    font-size: 1.05rem;
}

p {
    padding: 8px 0;
}