nav {
    max-width: 900px;
    margin: auto;
    padding: 10px 40px;

    div {
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
            gap: 10px;
            align-items: center;

            li {
                display: inline-block;
            }
        }
    }
}