@use "theme";

nav {
    max-width: 900px;
    margin: auto;
    padding: 10px 40px;

    div {
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
            gap: 10px;
            align-items: center;

            li {
                display: inline-block;
            }
        }
    }

    a {
        color: theme.$text-primary;
        text-decoration: none;
        font-weight: 600;
        padding: 0 3px;

        .active {
            color: theme.$accent;
        }
    }

    select {
        padding: 2px 5px;
        background: transparent;
        color: theme.$text-primary;
        border:none;

        option {
            color: #000;
        }
    }
}