@charset "UTF-8";
:root {
  --primary-color: #2e2e30;
  --secondary-color: #3f3f42;
  --text-primary: #f4eee0;
  --accent: #f1b119;
  --accent-secondary: #2f213b;
}

[data-theme=light] {
  --primary-color: #FAF7F0;
  --secondary-color: #D8D2C2;
  --text-primary: #4A4947;
  --accent: #B17457;
  --accent-secondary: #a58f84;
}

#toggleTheme {
  visibility: hidden;
  width: 0;
  height: 0;
}
#toggleTheme + label::after {
  vertical-align: -webkit-baseline-middle;
  cursor: pointer;
  color: var(--accent);
  font-family: "Material Symbols Outlined";
  font-size: 1.3rem;
  content: "dark_mode";
}
#toggleTheme:checked + label::after {
  content: "light_mode";
}

.toggle {
  position: relative;
}
.toggle .tooltip {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s;
  width: 120px;
  background: var(--secondary-color);
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  z-index: 1;
  margin-left: -85px;
  top: 100%;
  margin-top: 6px;
  font-size: 0.8em;
}
.toggle .tooltip::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 70%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--secondary-color) transparent;
}
.toggle:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

nav {
  max-width: 900px;
  margin: auto;
  padding: 10px 40px;
}
nav div {
  display: flex;
  justify-content: space-between;
}
nav div ul {
  display: flex;
  gap: 10px;
  align-items: center;
}
nav div ul li {
  display: inline-block;
}
nav a {
  color: var(--text-primary);
  text-decoration: none;
  font-weight: 600;
  padding: 0 3px;
}
nav a .active {
  color: var(--accent);
}
nav select {
  padding: 2px 5px;
  background: transparent;
  color: var(--text-primary);
  border: none;
}
nav select option {
  color: #000;
}

#projects {
  background: var(--secondary-color);
}

#projectContainer {
  display: flex;
}
#projectContainer #projectDisplay {
  flex: 60%;
}
#projectContainer .projectButtons {
  flex: 40%;
  display: flex;
  flex-direction: column;
}
#projectContainer .projectButtons li, #projectContainer .projectButtons button {
  width: 100%;
  max-height: 50px;
  height: 100%;
  border: 0;
  position: relative;
}
#projectContainer .projectButtons li .imageHolder, #projectContainer .projectButtons button .imageHolder {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
}
#projectContainer .projectButtons li .imageHolder img, #projectContainer .projectButtons button .imageHolder img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#projectContainer .projectButtons li h3, #projectContainer .projectButtons button h3 {
  position: absolute;
  inset: 0;
  align-content: center;
}
#projectContainer .projectButtons li h3.active, #projectContainer .projectButtons button h3.active {
  color: #838383;
}

#infoContainer {
  display: grid;
  grid-template-columns: 150px auto;
  background: var(--secondary-color);
}
#infoContainer img {
  grid-row: 1/3;
  width: 100%;
}

#aboutContainer {
  display: flex;
  flex-wrap: wrap;
}
#aboutContainer section {
  flex: 50%;
}
#aboutContainer section:last-of-type {
  flex: 100%;
}
#aboutContainer .skills li {
  display: inline-block;
}
#aboutContainer .skills li:not(:last-child)::after {
  content: "•";
  padding: 0 5px;
}

#experience .expFields {
  display: grid;
  grid-template-columns: auto auto;
}

#contact {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--text-primary);
  background-color: var(--primary-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  justify-content: center;
  min-height: 100vh;
}

ul {
  list-style: none;
}

#container {
  min-height: 100vh;
  position: relative;
}

#content {
  min-width: 370px;
  max-width: 900px;
  margin: auto;
  padding: 30px 40px 2.5rem 40px;
}

footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 2.5rem;
  text-align: center;
}/*# sourceMappingURL=main.css.map */